/publish/Templates/miejscowosci.xml
/publish/Templates/offices.json
/publish/Templates/PCC-3(6).xml
/publish/Templates/ulice.xml
/publish/Templates/wojewodztwa.xml
/publish/Amazon.Lambda.APIGatewayEvents.dll
/publish/Amazon.Lambda.ApplicationLoadBalancerEvents.dll
/publish/Amazon.Lambda.AspNetCoreServer.dll
/publish/Amazon.Lambda.AspNetCoreServer.Hosting.dll
/publish/Amazon.Lambda.Core.dll
/publish/Amazon.Lambda.Logging.AspNetCore.dll
/publish/Amazon.Lambda.RuntimeSupport.dll
/publish/Amazon.Lambda.Serialization.SystemTextJson.dll
/publish/appsettings.Development.json
/publish/appsettings.json
/publish/Microsoft.OpenApi.dll
/publish/Scriban.dll
/publish/Swashbuckle.AspNetCore.Swagger.dll
/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
/publish/TaxAssistant
/publish/TaxAssistant.deps.json
/publish/TaxAssistant.dll
/publish/TaxAssistant.pdb
/publish/TaxAssistant.runtimeconfig.json
